.btn {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary-1 {
    background: transparent;
    color: $theme-color-1;
    border: 1px solid $theme-color-1;
}

.btn-trans {
    background: transparent;
    color: $theme-color-1;
}
